<div class="container-fluid" style="margin: 0; padding: 0;">
	<div class="row">
		<div class="col col-12 text-center">				
			<div style="font-size: 0;">
				<%=link_to(items_path(:c => Category.find_by(sex: "Femme"))) do
  					image_tag 'pink-model-cropped2.jpg', alt:'woman model', class: 'main-picture'
				end%>
				
				<%=link_to(items_path(:c => Category.find_by(sex: "Homme"))) do
  					image_tag "man-yellow-jumper-cropped2.jpeg", alt:'man model', class: 'main-picture'
				end%>
				<div class="centered"><h1 class="fall-down" data-splitting>FAKO</h1></div>
			</div>
		</div>
	</div>
</div>

