<!-- Begining of the loop -->
<% @items.order(created_at: :desc).each do |item| %>
	<!-- CARD -->

		<div class="card row mx-2 o-hidden hover-shadow-3d p-0 mt-0 mb-2">
			<div class="card-body col p-3">
				<div class="flex-grow-1">
					<div class="d-flex align-items-center">
						<div class="ml-2">
							<h5 class="m-0 p-0">
								<%= link_to(admins_user_path(item.id), class: "text-default p-0 m-0") do %>
								<!-- Name -->
								<%=image_tag item.image_path, class: 'mr-3 rounded W35', style: "width: 50px; height: auto;" %> <%= item.name %>  
								<% end %>
							</h5>
							<!-- Price -->
							<p><%=number_to_currency item.price, unit: "€", separator: ",", format: "%n%u" %>  </p>
							
							<p>
								
							</p> 
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>
