<div class="container girl-bg">
	<div class="row mt-5 mb-4">
	<% if @items.count > 0 %>
		<%= render 'layouts/index' %>
	<%else%>
		<p class="mx-auto">Votre recherche n'a donné aucun résultat. </p>
		<%end%>
	</div>
</div>		