<% @items.each do |item| %>
<%=item.name%> 
<%end%>


<div class="container girl-bg">
	<div class="row mt-5 mb-4">
		<div class="col-6">
			<div class="girl-bg" style="font-size: 16px;">
				<img src="images/sangoku-woman.jpg" alt="..." style="height: 800px; width: 555px;">
				<div style="text-align: left;" class="mt-1">
					<p class="girl-bg">Total look <img src="icons/like-b.png" class="pt-1" style="color: black; position: absolute; left: 95%; width: 23px;"></img></p>
					<p class="girl-bg">Lorem ipsum dolor sit amet</p>

					<span style="vertical-align: middle;">70€</span>
				</div>
			</div>
		</div>
	</div>
</div>		
