	<!----------------------------------test------------------>
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand mt-2 ml-4" id="brand-logo" href="#">FAKO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <form class="form-inline my-2 my-lg-0 mx-auto" >
		<input class="form-control mr-sm-2" type="search" id="placeholder" placeholder="Que recherchez-vous ?" style="width: 400px; border-radius: 0px;">
		<button class="btn btn-custom loupe my-2 my-sm-0"type="submit"><i class="fas fa-search loupe"></i></button>
	</form>
	<ul class="navbar-nav mr-4 float-right">
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fas fa-user mr-4"></i> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="far fa-heart mr-4"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-shopping-bag"></i></a>
      </li>
    </ul>
  </div>
</nav>


	<div class="container-fluid" style="background-color: black">
		<div class="row">
			<div class="col col-12" style="text-align: center;">
				<a class="navbar2-link mx-4"href="#"> NOUVEAUTÉS </a>
				<a class="navbar2-link mx-4"href="#"> VÊTEMENTS </a>
				<a class="navbar2-link mx-4"href="#"> CHAUSSURES </a>
				<a class="navbar2-link mx-4"href="#"> ACCESSOIRES </a>
				<a class="navbar2-link mx-4"href="#"> PREMIUM </a>
			</div>
		</div>
	</div>